# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual environment
venv/
.env
.env.*

# Coverage and test reports
.coverage
htmlcov/
.tox/
.pytest_cache/
.mypy_cache/

# React (Frontend)
node_modules/
*.log
build/
dist/
*.env

# System files
.DS_Store
Thumbs.db
*.bak
*.swp

# Editor-specific
.vscode/
.idea/

# PostgreSQL dump or cache files (if any)
*.pgsql
*.psql
*.sql
*.dump

# Ignore PDF/Docs (if not tracked)
*.pdf
